.git
.github
.next
.sites-runtime
.wrangler
data
tests/Passport.jpg
tests/Passport.pdf
dist
node_modules
public/ocr
public/pdf
outputs
work
.env*
npm-debug.log*

backups
*.tsbuildinfo
coverage
playwright-report
test-results
